name: "Let's Encrypt httpreq"
description: "Manage certificate from Let's Encrypt with DNS httpreq"
url: "https://github.com/Cornelicorn/homeassistant-addons/tree/main/letsencrypt-httpreq"
version: "1.1.6"
slug: letsencrypt-httpreq
init: false
boot: manual
image: "ghcr.io/cornelicorn/homeassistant-addon-letsencrypt-httpreq-{arch}"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map:
  - ssl:rw
  - share

options:
  domains: null
  keyfile: privkey.pem
  certfile: fullchain.pem
  httpreq_host: null
  dns_propagation_delay: 30
  quiet: true
  staging: true

schema:
  domains: str
  keyfile: str
  certfile: str
  httpreq_host: str
  dns_propagation_delay: int
  email: email?
  httpreq_user: str?
  httpreq_password: str?
  quiet: bool
  staging: bool
startup: once
